#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.page{
  width: 580px; /* mobile default responsive */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}